/* Google Home Page CSS */

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

a {
    color: #f5f5f5;
    text-decoration: none;
}

head {
    display: none;
}

body {
    height: 100vh;
    background-color: #1c1f29;
    overflow: hidden;
}

header {
    height: 5%;
} 


header ul {
    list-style: none;
    color: #f5f5f5;
    display: flex;
    justify-content: flex-end;
    padding: 30px 20px;
    background-color: #1c1f29;
    gap: 20px;
}
.sign-in {
    background-color: rgb(131, 186, 231);
    padding: 10px 20px;
    border-radius: 30px;
    color: rgb(29, 29, 29);

}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 85%;
    gap: 25px;
}

.logo-container {
    width: 250px;
}


.search-bar-and-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 35px;
    gap: 20px;
    width: 450px;
    font-size: 18px;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #f5f5f5;
    border: none;
}

.search-bar-and-buttons:hover {
    background-color: rgba(255, 255, 255, 0.2);
}


.button {
    
    background-color: transparent;
    width: 30px;
    border: none;
    border-radius: 30px;
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.search-bar {
    background-color: transparent;
    border: none;
    width: 250px;
    font-size: 18px;
    color: #f5f5f5;
}

.search-bar:focus  {
    outline: none;
}


.twin-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;   
}

.search-button , .lucky-button {
    background-color: transparent;
    width: 150px;
    padding: 10px 20px;

    border: none;
    border-radius: 30px;
    color: #f5f5f5;
    background-color: rgba(185, 185, 185, 0.1);
}

.search-button:hover , .lucky-button:hover {
    background-color: rgba(185, 185, 185, 0.2);
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    background-color: #101218;
    height: 10%;
}

.location {
    color: #f5f5f5;
    font-size: 14px;
    border-bottom: solid 1px #3a3a3a;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px 20px;
}

.footer-links {
    display: flex;
    flex-direction: row ;
    justify-content: center;
    gap: 20px;
    color: #f5f5f5;
    font-size: 14px;
    justify-content: space-around;
    padding: 10px 20px;
}

.footerFirstblock , .footerSecondblock {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    justify-content: center;
    gap: 20px;

}

.footer-links a:hover {
    text-decoration: underline;
}